


.App {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


.header {
  position: relative;
  font-size: 1rem;
  height: 185px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  
}

.top-header {
  
  font-family: 'Great Vibes', sans-serif;
  font-weight: 600;
  font-size: 3rem;

}

.logo {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 0 0 0;
}

.categories {
  display: flex;
  top: 100px;
  width: 100%;
  margin-left: 5vw;
  height: 100px;
  
  
}

.nav {
  display: inline-flex;
  font-weight: 400;
  
}

.header-list {
  display: flex;
  list-style-type: none;
  margin: 0px;
  padding: 0;
  justify-content: space-between;
  
}

.header-list li {
  flex: 1;
  text-align: center;
  display: flex;
  align-items: center;
  padding: 0px 60px;
  
}

.header-category {
  white-space: nowrap;
  
}

.product-search-container {
  margin-top: 20px;
}

.product-search {
  display: flex;
  border: 1px solid black;
  padding: 0px 10px 0px 0px;
  border-radius: 0px;
  outline: none;
  background-color: #ffffff;
  align-items: center;
}

.product-input {
  border: none;
  outline: none;
  width: 16vw;
  height: 50px;
  text-indent: 20px;
  font-size: 18px;
}

.product-results {
  display: flex;
  border: 1px solid rgb(109, 109, 109);
  z-index: 1;
  background-color: #ffffff;
  justify-content: center;
  
}

.product-reslults-list {
  display: flex;
  list-style-type: none;
  list-style: none;
  align-items: center;
  width: 350px;
}

.hidden {
  display: none;
}

.search-icon {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.clear-icon {
  height: 13px;
}

.header-icon {
  height: 25px;
  margin-right: 25px;
  cursor: pointer;
}

.icon {
  height: 25px;
  cursor: pointer;
}

.icon-container {
  
}


.icon-button {
  background-color: #ffffff;
  border: none;
  display: flex;
  position: relative;
}

.qty-counter {
  position: absolute;
  display: flex;
  background-color: rgb(109, 109, 109);
  color: white;
  font-weight: 600;
  border-radius: 50%;
  font-size: 14.4px;
  padding: 3px 8px 3px 8px;
  bottom: 0;
  right: 8px;
  transform: translateY(50%);
  align-items: center;
  justify-content: center;
  width: 8px;
}

.qty-counter-hidden {
  display: none;
}

.clear-button {
  height: 25px;
  width: 25px;
  padding: 3px;
  margin-right: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.clear-button-hidden {
  height: 25px;
  width: 25px;
  padding: 3px;
  margin-right: 20px;
  border-radius: 50%;
  border: 1px solid #000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.container {
  margin-left: auto;
  margin-right: 7rem;
  display: flex;
}

.header-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
}

a {
  color: rgb(0, 0, 0); 
  text-decoration: none; 
}

a:hover {
  text-decoration: underline; 
}



.product-display {
  background-image: url('./resources/closet.jpg');
  height: 892px;
   
  background-position: center; 
  background-repeat: no-repeat; 
  display: flex;
  flex-direction: column;
}

.testimony {
 
  padding: 14.8rem 0 0 8vw;
  display: flex;
  white-space: pre-wrap;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 2.8rem;
  width: 45rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.wardrobe-button {
  background-color: rgba(27, 27, 27, 0.911);
  height: 3.5rem;
  width: 25rem;
  border: none;
  padding: 0 0 0 0;
  outline: none;
  margin: 10px 0 0 0;
  font-size: 1.2rem; 
  color: white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.2px;
  cursor: pointer;
}

.wardrobe-button:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

.shopbutton-container {
  
  position: relative;
  top: 23rem;
  left: 80vw;
  
}

.shopbutton {

  display: flex;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.4px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 12px 12px 12px 12px;
  text-align: start;
  align-items: center;
  cursor: pointer;
  color: transparent;
  transition: width 2s ease; 
}

.button-text {
  padding-left: 18px;
  animation: fadeInText 2s forwards; 
  animation-delay: 1.7s; 
  white-space: nowrap;
}

@keyframes fadeInText {
  0% {
    opacity: 0; 
    color: #000;
  }
  100% {
    opacity: 1; 
    color: #000;
  }
}

.shop-modal {
  display: none;
  z-index: 1;
  overflow: auto;
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  background-color: white;
  width: 475px;
  animation: slideOutModal 1s ease-out backwards;
}

.shop-modal.open {
  display: flex;

  animation: slideInModal 1s ease-out forwards;
}

.shop-modal.close{
  display: flex;
  animation: slideOutModal 1s ease-out backwards;
}

@keyframes slideInModal {
  0% {
    transform: translateX(100%)
  }

  100% {
    transform: translateX(0%)
  }
}

@keyframes slideOutModal {
  0% {
    transform: translateX(0%)
  }

  100% {
    transform: translateX(100%)
  }
}


.close-icon {
  position: absolute;
  top: 0;
  right: 0;
  margin: 25px 40px 0 0;
  height: 25px;
  width: 25px;
}

.modal-content {
  margin: 70px 40px 25px 48px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0; 
}

.product-grid {
  display: grid;
  height: 1715px;
  width: 370px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding-bottom: 80px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  transition: transform 0.15s ease-in-out; 
}

.product-image {
  height: 310px;
  width: 310px;
  padding: 30px;
}

.feature {
  height: 310px;
}

.text-container {
  
  display: flex;
  flex-direction: column;
  
}

.name-text {
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  transition: text-decoration 0.3s ease;
}

.name-text:hover {
  text-decoration: underline;
}

.price-text {
  font-size: 15px;
  font-weight: 400;
  padding-top: 7px;
}

.feature-display-container {
  
  align-items: center;
  justify-content: center;
}

.feature-text {
  padding: 80px;
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  padding: 0 200px 0 200px ;
}

.arrow-button {
  background: none;
  border: none;
  cursor: pointer;
}

.feature-display {
  
  padding: 0 250px 90px 295px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.product-info.enter {
  animation: slideRight .3s forwards;
}

.product-info.exit {
  animation: slideLeft .3s forwards;
}

@keyframes slideRight{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}


@keyframes slideLeft{
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

/* product display two !*/

.product-display-two {
  height: 942px;
  background-size: cover;
  background-image: url("./resources/modernlivingroom.jpg");
}

.testimony-two {
  margin-left: auto;
  padding: 10.5rem 5.8rem 0 0;
  display: flex;
  color: white;
  font-weight: bold;
  font-size: 2.8rem;
  width: 45rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}


.shopbutton-container-two {
  position: relative;
  top: 27rem;
  left: 7vw;
}

.shopbutton {

  display: flex;
  font-weight: 600;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1.4px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 12px 12px 12px 12px;
  text-align: start;
  align-items: center;
  cursor: pointer;
  color: transparent;
  transition: width 2s ease; 
}

.button-text {
  padding-left: 18px;
  animation: fadeInText 2s forwards; 
  animation-delay: 1.7s; 
  white-space: nowrap;
}

.spacer {
  padding: 7rem;
  display: flex;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 2.8rem;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.spacer-text {
  padding-bottom: 30px;
}

.footer {
  background-color: rgb(36, 36, 36);
  height: 20rem;
}

.product-grid-container {
  align-items: center;
}

.product-page-title {
  display: flex;
  height: 160px;
  align-items: center;
  padding: 0 0 0 10.4vw;
  font-weight: 600;
  font-size: 2rem;
}

.product-page-grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-page-grid {
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  padding-bottom: 125px;
}


/* Product Display on Product Page */

.product-page-container-desktop {
  display: flex;
  /* padding: 5rem 0 5rem 20vw; */
  align-items: center;
  justify-content: center;
}

.product-page-container-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.product-page-img-desktop {
  height: 500px;
  width: 500px;
  padding: 50px 150px 50px 50px;
}

.product-page-img-mobile {
  height: 80vw;
  width: 80vw;
  padding: 0;
}

.product-page-info {
  /* margin: 5rem 0 0rem 12rem; */
  display: flex;
  flex-direction: column;
  /* width: 85vw; */
}

.product-page-info-mobile {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  width: 85vw; 
}

.product-page-display-title {
  font-weight: 500;
  font-size: 1.7rem;
  word-wrap: break-word;
  width: 22rem;
}

.top-row {
  display: flex;
  /* width: 85vw; */
  justify-content: space-between;
}

.product-page-price {
  font-size: 1.3rem;
  padding: 0.7rem 0 8rem 0;
}

.qty-container {
  display: flex;
  flex-direction: column;
}

.qty-input-container {
  padding-top: 15px;
}

.qty-input {
  width: 70px;
  height: 50px;
  padding: 0 0 0 0;
  text-align: center;
  border: none;
  background-color: rgb(209, 209, 209);
  font-weight: 600;
  font-size: 1rem;
}

.qty-input::-webkit-inner-spin-button, .qty-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty-input:focus {
  outline: none;
}

.atc-button-container {
  padding-top: 35px;
  padding-left: 50px;
  margin-left: auto;
}

.atc-button {
  background-color: rgba(27, 27, 27, 0.911);
  height: 3rem;
  width: 20rem;
  border: none;
  padding: 0 0 0 0;
  outline: none;
  font-size: 1.2rem; 
  color: white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.2px;
  cursor: pointer;
}

.atc-button-mobile {
  background-color: rgba(27, 27, 27, 0.911);
  height: 3rem;
  width: 50vw;
  border: none;
  padding: 0 0 0 0;
  outline: none;
  font-size: 1.2rem; 
  color: white;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.2px;
  cursor: pointer;
}

.atc-button:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

.atc-button-mobile:hover {
  background-color: rgba(0, 0, 0, 0.95);
}

.product-info-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 0 0rem 0;
  padding-bottom: 10rem;
  background-color: rgb(244, 244, 240);
  align-items: center;
}

.product-info-title {
  font-weight: 500;
  font-size: 3rem;
  padding-top: 2rem;
}

.product-info-title-mobile {
  font-weight: 500;
  font-size: 2rem;
  margin-top: 2rem;
}

.product-info-description {
  margin-top: 2rem;
  width: 70vw;
  font-size: 1.2rem;
}

.product-dimensions-title {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 4rem;
}

.product-dimensions-description {
  margin-top: 0.7rem;
  font-size: 1.2rem;
}

.modal-background {
  display: none; /* flex */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.cart-confirmation-container {
  display: flex;
  background-color: #fefefe;
  margin: 14rem auto;
  padding: 40px;
  border: 1px solid #888;
  width: 55rem;
  justify-content: space-between;
}

.atc-product {
  display: flex;
  align-items: center;
  width: 65%;
}

.cart-confirmation-img-desktop {
  height: 80%;
  
}

.atc-product-info {
  display: flex;
  font-weight: 500;
  align-items: center;
}